API_IMAGE_TAG_SUFFIX=
HPS_DEVICE_ID=
HPS_FILTER_HEALTH_ACCESS_LOG=
HPS_HEALTH_CHECK_TIMEOUT=
HPS_INFERENCE_TIMEOUT=
HPS_LOG_LEVEL=
HPS_MAX_CONCURRENT_INFERENCE_REQUESTS=
HPS_MAX_CONCURRENT_NON_INFERENCE_REQUESTS=
HPS_PADDLEX_VERSION=
HPS_PIPELINE_NAME=
HPS_SDK_DIR=
HPS_UVICORN_WORKERS=
VLM_BACKEND=
VLM_IMAGE_TAG_SUFFIX=